page-home {
.img{
  align-self: center;
}

  h3{
    text-align: center;
  }



.lunada{
  background: linear-gradient(to right, #5433ff, #20bdff, #a5fecb);
}

.cinza{
  background: linear-gradient(to right, #334d50, #cbcaa5);
}
}
